.dis-flex{
	display: flex;
	height: 100vh;
	overflow: hidden;

}
.llabel{
	font-size: 12px;
	margin-bottom: 0;
}
.navbar{
	height: 100vh;
	width: 25vw;
}
label {
	margin-bottom: 32px;
	font-size: 1.5rem;
}

.input-range {
	margin: 2px 15px;
}

.input-range__label-container {
	color: #212529;
	font-size: 16px;
}

.input-range__label--min,
.input-range__label--max {
	top: 25px !important;
}

.input-range__label--value {
	top: -33px;
}

.interest-data {
	font-size: 1.3rem;

	display: flex;
	align-items: baseline;
	justify-content: space-between;
}

.interest-label {
	color: #554c4c;
}

.interest-display,
.payment-display,
.number-display {
	font-size: 1rem;
	font-weight: bold;
}

.form-group {
	margin-bottom: 2rem;
}

.navbar-brand {
	font-size: 1.75rem;
}

.data-display {
	color: #af9211;
	/* color: #2881d9; */
}

.footer {
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
}

.card {
	padding: 50px;
	background: #fff;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

a {
	color: inherit;
	text-decoration: none;
}

a:hover {
	color: #c0b1b1;
	text-decoration: none;
	cursor: pointer;
}

/*Media queries for smaller devices*/

@media only screen and (max-width: 600px) {
	.mb-5 {
		margin-bottom: 2rem !important;
	}
	.dis-flex{
		display: flex;
		flex-direction: column-reverse;
		overflow: auto;
	}
	.navbar {
		width: 100%;
	}
	
}
